@{
  ViewData["Title"] = "Books - Create";
}

@model Library.Models.Book;

<h1>Create Book Entry</h1>
<section>
  @using (Html.BeginForm())
  {
    @Html.LabelFor(m => m.Title)
    @Html.TextBoxFor(m => m.Title, null, new { @required="required"})

    @Html.LabelFor(m => m.Copies)
    @Html.TextBoxFor(m => m.Copies, null, new { type="number", min="0", @required="required" })

    // TODO author association once we have authors

    <input type="submit" value="Create Book Entry" />
  }
</section>