@{
  ViewData["Title"] = "Books - Checkout";
}

@model Library.Models.Book;

<div class="text-center">
  <h1 class="display-4">Checkout Book - @Model.Title</h1>
  <h2 class="display-4">@Model.Copies Copies Available</h2>
  <div class="container">
    @using (Html.BeginForm("Checkout", "Books", new
    {
      BookId = Model.BookId,
      LibraryUserId = ViewBag.user.Id
    }))
    {
      <input type="submit" value="Check Out Book" class="btn btn-default" />
    }
  </div>
</div>
