@{
  ViewData["Title"] = "Home Page";
  bool IsLibrarian = ViewBag.user.IsLibrarian;
}

<h1>Books</h1>
<section>
  @if (IsLibrarian)
  {
    <h3>Librarian Books Administration</h3>
  }
  <div>
    <ul>
      @if (ViewBag.allBooks.Count == 0)
      {
        <h3>No books yet added.</h3>
      }
      else
      {
        <p>Total Books: @ViewBag.allBooks.Count</p>
        @foreach (Book book in ViewBag.allBooks)
        {
          <li>
            <h4>@book.Title</h4>
            <p>Copies: @book.Copies</p>
            <p>@Html.ActionLink("Check Me Out", book.BookId, "books")</p>
          </li>
        }
      }
    </ul>

    <a href="/books/create">Create New Book</a>
  </div>
</section>
