@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Books</h1>
  <div class="container">
    <ul>
      @if (ViewBag.allBooks.Count == 0)
      {
        <h3>No books yet added.</h3>
      }
      else
      {
        @foreach (Book book in ViewBag.allBooks)
        {
          <li>@book.Title</li>
        }
      }
    </ul>

  </div>
</div>
